@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: hsl(15, 100%, 30%),
  $secondary: color.scale(hsl(240, 8%, 44%), $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: hsl(0, 0%, 10%),
  $error: color-palette.$red-700
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #92d3ff;
}
a:visited {
  color: color.scale(#6bc4ff, $lightness: -35%);
}
